.home-banner {
  margin: 1rem 0;
  margin: 1rem;
}

.home-banner-img-container {
  width: 100%;
}

.home-banner-img-container img {
  width: 100%;
  border-radius: 5px;
  box-shadow: -2px 4px 8px -1px rgba(183, 168, 168, 0.75);
  -webkit-box-shadow: -2px 4px 8px -1px rgba(183, 168, 168, 0.75);
  -moz-box-shadow: -2px 4px 8px -1px rgba(183, 168, 168, 0.75);
  cursor: pointer;
}
